body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner {
    img {
        max-width: 100%;
    }
}

ul {
    list-style: none;
    padding: 0;
}

.question {
    max-width: 500px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: white;
    overflow: hidden;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-image {
    max-height: 200px;
    width: fit-content;
}

.question-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer {
    margin: 8px;
    width: 50%;
    height: 80px;
    border-radius: 40px;

    &.correct {
        background-color: #4cbb17;
        color: white;
        border: none;
    }

    &.wrong {
        background-color: red;
        color: white;
        border: none;
    }
}

.score {
    color: white;
    font-size: 40px;
}
